

<div class="container">
  <div class="form-horizontal">
    <a class="navbar-brand" href="#">
      <h2>Currency Converter
      </h2>
      <h6>Check live foreign currency exchange rates from/to CAD

      </h6>
    </a>
  
      <div class="form-group"> 
        <label class="control-label col-sm-4" for="pwd">Amount:</label>
        <div class="col-sm-8">          
          <input type="number" class="form-control" id="amount" [(ngModel)]="amount" required />
        </div>
      </div>
      <div class="form-group"> 
        <label class="control-label col-sm-4" for="pwd">From:</label>
        <div class="col-sm-8">          
          <select [(ngModel)]="baseCurrency" class="form-control" (change)='resetValue()'>
            <option>select</option>
            <option *ngFor="let currency of currencyTypes" [ngValue]="currency">
              {{currency}}
            </option>
          </select>        </div>
      </div>
    
      <div class="form-group"> 
        <label class="control-label col-sm-4" for="pwd">To:</label>
        <div class="col-sm-8">          
          <select [(ngModel)]="targetCurrency" class="form-control" (change)='resetValue()'>
            <option>select</option>
            <option *ngFor="let currency of currencyTypes" [ngValue]="currency">
              {{currency}}
            </option>
          </select>     </div>
      </div>
      <div class="form-group"> 
        <label class="control-label col-sm-4" for="pwd">Choose Date:</label>
        <div class="col-sm-5">          
          <input type="text" placeholder="yyyy-mm-dd" class="form-control" (change)='resetValue()'  [(ngModel)]="conversionDate" appBootstrapDatepicker/>
        </div>
          
         
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button (click)="convertCurrency()" class="btn btn-primary">Convert</button>
        </div>
      </div>
     
      <div *ngIf="isConverted">
        <div class="form-group">  
        <p>Converted Amount: {{ convertedAmount | number:'1.4-4' }}</p>
        <p>Conversion Rate: {{ conversionRate | number:'1.4-4' }}</p>
        <p>Date of Conversion: {{ convertedDate }}</p>  
          </div>
        </div>
          
      <div *ngIf="noConversion">
        <div class="form-group">  
        <p>No specific data for the choosen date please enter another date</p>
          </div>
        </div>
    
  </div>
</div>
<router-outlet></router-outlet>
